.col-full-width {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #2b3f5d;
  height: 100vh;
  width: 100vw;
  text-align: center;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}

.form {
  margin-top: 30vh;
}

.form-group-1 {
  margin: 0 auto;
}

.form h1 {
  font-family: "Merriweather", serif;
  font-size: 2.3rem;
  color: #fff;
}

.form .changedStyle {
  font-size: 1.5rem;
}

.form button {
  margin-top: 0;
}
.newList {
  color: #ffc107;
  cursor: pointer;
}

.newList h5 {
  display: inline-block;
  margin-left: 5px;
}

.transitionForColFullWidth {
  left: -100vw;
}

.changedStyle {
  font-size: 0.8rem;
}

@media screen and (min-width: 320px) {
  .form h1 {
    font-size: 1.6rem;
  }
  .form .changedStyle {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 375px) {
  .form h1 {
    font-size: 2.1rem;
  }
}
