@use '../../styles/variables.scss' as *;

.newReminder {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  font-weight: 200;
  &:hover {
    .fa_times_circle {
      color: $primaryColor;
    }
  }
  .btn_custom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    .elipsis {
      svg {
        width: 20px;
        height: 20px;
        color: $primaryColor;
      }
    }
  }
  .fa_times_circle {
    position: absolute;
    top: 45%;
    left: 24px;
    font-size: 1.2rem;
    color: #ced4da;
    order: 1;
    &:hover {
      color: $danger;
      opacity: 1;
      cursor: pointer;
    }
  }
}
