@use '../../styles//variables.scss' as *;

.backArrow {
  color: $primaryColor;
  margin-bottom: 40px;
  padding: 0.5rem;
  border-radius: 0.375rem;
  transition: all 0.2s ease;
  width: fit-content;

  &:hover {
    background-color: rgba(211, 158, 0, 0.1);
    color: $accentColor;
  }
}
