@use '../../styles/variables.scss' as *;

.calendarEventView {
  color: $primaryColor;
  textarea {
    resize: none;
  }

  .guestsLabel {
    font-weight: 500;
    color: $neutralColor;
    margin-bottom: 0.75rem;
  }
}
