.register-form {
    padding: 20% 0 70%;
    width: 77%;
    margin:0 auto;
}

.register-form .form-group{
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

.register-form .form-label{
    display:block;
    font-size: 1.2em;
}

.register-form .form-control{
    width:100%;
}

.register-form .btn-primary{
    background-color: #2b3f5d;
}