@use '../../styles/variables.scss' as *;

.customForm {
  width: 100%;
  .cardContainer {
    width: 576px;
    @media all and (max-width: 768px) {
      width: 100%;
    }
    .itemName {
      font-size: 20px;
      font-weight: 600;
      color: #2b3f5d;
    }
    .itemName,
    .quantity,
    .textArea {
      border-left: 0;
    }
    .dropDownCustom {
      min-width: 120px;
    }
    .dropDownFull {
      min-width: 100%;
    }
    .dropDownMenu {
      width: 100%;
    }
    #itemNameText,
    #quantityText,
    #textInputArea {
      border-radius: 0.25rem 0 0 0.25rem;
    }

    .saveButton {
      border-color: $primaryColor;
      color: $primaryColor;
      &:hover {
        color: #fff;
        background-color: $primaryColor;
      }
    }
  }
}
