.newListLi {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  font-weight: 200;
}
.newListLi .btn {
  width: 90%;
  order: 2;
}
.newListLi .fa-times-circle {
  position: absolute;
  top: 45%;
  left: 24px;
  font-size: 1.2rem;
  color: #ced4da;
  order: 1;
}
.newListLi .fa-times-circle:hover {
  color: #b33939;
  opacity: 1;
  cursor: pointer;
}
