.modal {
  left: 45%;
  width: 300px;
}
.modal-dialog .modal-content {
  border: 0px;
}
.modalCancelButton {
  color: #2b3f5d !important;
  border-color: #2b3f5d !important;
  &:hover {
    background-color: #2b3f5d;
    color: #fff !important;
  }
}
.modalBodyText{
  font-size: 24px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  // font-weight: 300;
}

.inputForModal {
  width: 100% !important;
}

/* Media Query */

@media screen and (min-width: 320px) {
  .modal {
    left: 3%;
  }
}
@media screen and (min-width: 360px) {
  .modal {
    left: 8%;
  }
}
@media screen and (min-width: 375px) {
  .modal {
    left: 10%;
  }
}
@media screen and (min-width: 412px) {
  .modal {
    left: 13%;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    left: 19%;
  }
}
@media screen and (min-width: 533px) {
  .modal {
    left: 23%;
  }
}
@media screen and (min-width: 600px) {
  .modal {
    left: 25%;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    left: 31%;
  }
}
@media screen and (min-width: 1024px) {
  .modal {
    left: 36%;
  }
}
@media screen and (min-width: 1366px) {
  .modal {
    left: 39%;
  }
}
