@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('./fonts/YanoneKaffeesatz-SemiBold.woff2') format('woff2'),
        url('./fonts/YanoneKaffeesatz-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('./fonts/YanoneKaffeesatz-Light.woff2') format('woff2'),
        url('./fonts/YanoneKaffeesatz-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('./fonts/YanoneKaffeesatz-Regular.woff2') format('woff2'),
        url('./fonts/YanoneKaffeesatz-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('./fonts/YanoneKaffeesatz-Bold.woff2') format('woff2'),
        url('./fonts/YanoneKaffeesatz-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('./fonts/YanoneKaffeesatz-ExtraLight.woff2') format('woff2'),
        url('./fonts/YanoneKaffeesatz-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('./fonts/YanoneKaffeesatz-Medium.woff2') format('woff2'),
        url('./fonts/YanoneKaffeesatz-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

