.todo_list {
  width: 50%;
  cursor:pointer;
  @media screen and (max-width: 576px) {
    width: 100%;
  }
  @media screen and (min-width: 577px) and (max-width: 992px) {
    width: 80%;
  }
  .categoryTitleContainer {
    width: 100%;
    background-color: #f0f0f0;
    .categoryTitle {
      font-size: 24px;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-weight: 300;
    }
  }

  li {
    margin-bottom: 2vh;
    color: #495057;
    list-style: none;
  }
}
