@use '../../styles/variables.scss' as *;

.header_container {
  margin: 0;
  padding: 0;
  .header {
    background-color: $primaryColor;
    border-bottom: 10px solid #ffc107;
    margin-bottom: 16px;
  }
}
.offCanvas {
  background-color: $primaryColor;
  .offCanvasHeader {
    border-bottom: 10px solid #ffc107;
    margin-bottom: 16px;
  }
  .nav_item_custom {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $whiteColor;
    h5 {
      margin-bottom: 0;
      line-height: 10px;
      font-weight: 200;
    }
    a {
      &:last-child {
        margin-right: 0px;
      }
    }
    .wraper {
      color: #fff;
      cursor: pointer;
      margin-right: 5px;
    }
    .saveExitButton {
      color: #ffc107;
    }
    .welcome {
      margin-right: 10px;
    }
  }
}

.changedStyle {
  font-size: 1rem !important;
  font-weight: 200;
}
