.header-container {
  margin: 0;
  padding: 0;
}
header {
  background-color: #2b3f5d;
  border-bottom: 10px solid #ffc107;
  margin-bottom: 50px;
}

nav {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.changedStyle {
  font-size: 0.8rem !important;
}

.nav-item .wraper {
  color: #fff;
  cursor: pointer;
  margin-right: 5px;
}

.nav-item .saveExitButton {
  color: #ffc107;
}

.nav-item .welcome {
  margin-right: 10px;
}

.nav-item .wraper h5,
.nav-item h5 {
  display: inline-block;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 10px;
}

.navbar-light {
  color: #fff !important;
}

.navbar-brand {
  font-family: 'Merriweather', serif;
  font-size: 1.6rem !important;
  color: #fff !important;
  cursor: pointer;
}
.navbar-nav {
  width: 100%;
}

/* MEDIA QUERY*/

@media screen and (min-width: 320px) {
  .navbar-brand {
    font-size: 1rem !important;
    margin-right: 0.8rem !important;
  }
  .navbar-toggler {
    font-size: 1rem !important;
  }

  .navbar-toggler-icon {
    width: 0.8em;
    height: 1.5em;
  }
  .navbar-nav .item1 {
    margin-left: 0 !important;
  }
}

@media screen and (min-width: 375px) {
  .navbar-brand {
    font-size: 1.4rem !important;
  }

  .navbar-toggler-icon {
    width: 1.2em !important;
  }
}

@media screen and (min-width: 800px) {
  .navbar-brand {
    font-size: 1.6rem !important;
  }
}

@media screen and (min-width: 992px) {
  .navbar-nav .item1 {
    margin-left: auto !important;
  }
}
