.header_container {
  margin: 0;
  padding: 0;
  font-family: 'Yanone Kaffeesatz';
  header {
    background-color: #2b3f5d;
    border-bottom: 10px solid #ffc107;
    margin-bottom: 16px;
    .changedStyle {
      font-size: 0.8rem !important;
    }
    .nav_item_custom {
      display: flex;
      align-items: center;
      h5 {
        margin-bottom: 0;
        display: inline-block;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        line-height: 10px;
      }
      a {
        &:last-child {
          margin-right: 0px;
        }
      }
      .wraper {
        color: #fff;
        cursor: pointer;
        margin-right: 5px;
      }
      .saveExitButton {
        color: #ffc107;
      }
      .welcome {
        margin-right: 10px;
      }
    }
  }
}
