.listContent-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.addNewItemInput {
  width: 100%;
  padding-top: 100px;
}

.listContent-row {
  justify-content: center;
}

.listContent-container .form-control {
  font-size: 1.3rem;
  font-weight: 200;
  border-color: #ffc107;
}

.todo-list {
  margin-top: 5vh;
  width: 80%;
  height: 400px;
  padding: 0 0 20px 0;
  overflow-y: scroll;
}

.todo-list li {
  margin-bottom: 2vh;
  color: #495057;
  list-style: none;
}

.list-title-wraper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 0 20px 0;
}

.saveExitButton {
  position: relative;
  color: #2b3f5d;
  margin-top: -4px;
  margin-left: 25px;
  font-size: 20px;
}

.saveExitButton:hover {
  color: #28a745;
  cursor: pointer;
}

.todo-name {
  width: 17%;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 3px;
  color: #2b3f5d;
  text-transform: capitalize;
  text-decoration: underline;
  margin-left: 10%;
}

/* ===TOOLTIP SETUP== */

/* Tooltip text */
.saveExitButton .tooltiptext {
  visibility: hidden;
  width: 35px;
  background-color: #2b3f5d;
  color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  left: 25px;
  top: -5px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.saveExitButton:hover .tooltiptext {
  visibility: visible;
}
/* ========================== */

/* Media QUery */

@media screen and (min-width: 320px) {
  .container-fluid {
    width: 100vw;
    margin-top: 0;
  }

  .listSummarySection #inputNewListItem {
    width: 91%;
  }

  .list-content {
    width: 100%;
  }

  /* .dropdown-menu {
        left: 15px !important;
      } */

  .todo-list {
    width: 100%;
    height: 250px;
  }
}

@media all and (min-width: 480px) {
  .listSummarySection #inputNewListItem {
    width: 94%;
  }
}

@media all and (min-width: 533px) {
  .myListSummary-wraper .dropdown {
    width: 70%;
  }
}

@media all and (min-width: 700px) {
  .myListSummary-wraper .dropdown {
    width: 50%;
  }
}

@media all and (min-width: 992px) {
  .listSummarySection #inputNewListItem {
    width: 88%;
  }

  .formWraper {
    margin-left: 2px;
  }
}

/* MEDIA QUERY based on Height*/

@media all and (min-height: 640px) {
  .list-content {
    height: 60vh;
  }

  .todo-list {
    height: 300px;
  }
}

@media all and (min-height: 800px) {
  .todo-list {
    height: 350px;
  }
}

@media all and (min-height: 900px) {
  .todo-list {
    height: 400px;
  }
}
