@use '../../styles/variables.scss' as *;

.listContent_row {
  justify-content: center;
  .listContent_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .backArrow {
      align-self: flex-start;
      margin-bottom: 40px;
      padding-left: 16px;
    }

    @media all and (max-width: $screen-sm) {
      width: 100%;
    }
    .bold,
    .light {
      color: $primaryColor;
    }
    .bold {
      font-weight: 600;
    }
    .light {
      font-weight: 300;
    }
    .titleContainer {
      position: relative;
      width: 50%;
      padding-left: 20px;
      @media screen and (max-width: 576px) {
        width: 100%;
      }
      @media screen and (min-width: 577px) and (max-width: 992px) {
        width: 80%;
      }
      h1 {
        font-weight: 300;
        text-align: left;
      }
      .progressContainer {
        width: 30%;
        p {
          padding-top: 5px;
          font-family: 'Yanone Kaffeesatz', sans-serif;
        }
      }
    }
    .addNewItemInput {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px 0px 0px;
      @media all and (max-width: 576px) {
        width: 90%;
      }
      @media screen and (min-width: 577px) and (max-width: 992px) {
        width: 80%;
      }

      .inputGroup {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        @media all and (max-width:375px) {
          width: 200px;
        }
        .form_control {
          height: calc(1.15em + 0.75rem + 2px);
          margin-right: -1px;
          font-size: 1.3rem;
          font-weight: 200;
          border-color: #ffc107;
          border-radius: 5px 0 0 5px;
        }
        .addButton {
          font-size: 1rem;
        }
      }
      .sortContainer {
        img {
          filter: invert(21%) sepia(8%) saturate(3882%) hue-rotate(177deg) brightness(87%) contrast(84%);
        }
      }
      
    }

    .todo_list {
      margin-top: 5vh;
      width: 50%;
      height: 400px;
      padding: 0 0 20px 0;
      overflow-y: scroll;
      @media screen and (max-width: 576px) {
        width: 100%;
        height: 250px;
      }
      @media screen and (min-width: 577px) and (max-width: 992px) {
        width: 80%;
        height: 250px;
      }
      @media all and (min-height: 640px) {
        height: 300px;
      }
      @media all and (min-height: 800px) {
        height: 350px;
      }
      @media all and (min-height: 900px) {
        height: 400px;
      }

      li {
        margin-bottom: 2vh;
        color: #495057;
        list-style: none;
      }
    }
  }
}
