@use "../../styles//variables.scss" as *;

.addNewListInput_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .bold,
  .light {
    color: $primaryColor;
  }
  .bold {
    font-weight: 600;
  }
  .light {
    font-weight: 300;
  }

  .titleContainer {
    position: relative;
    width: 300px;
    .h1container {
      width: 200px;
      margin: 0 auto;
      z-index: 999;
      background-color: $whiteColor;
      overflow: hidden;
      h1 {
        font-weight: 300;
        text-align: center;
      }
    }

    hr {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin: 0;
      z-index: -1;
    }
  }

  .addNewListInput {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    .plusButton {
      z-index: 2;
    }
    .inputGroup {
      display: flex;
      justify-content: center;
      align-items: center;
      .form_control {
        height: calc(1.15em + 0.75rem + 2px);
        margin-right: -5px;
        font-size: 1.3rem;
        font-weight: 200;
        border-color: #ffc107;
      }
    }

    @media all and (max-width: 576px) {
      padding-top: 10px;
    }
    @media all and (max-width: 767px) {
      width: 100%;
    }
    @media all and (max-width: 992px) {
      width: 70%;
    }
    .plusButton,
    .addButton {
      font-size: 1rem;
    }
  }
  .listSummary {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 45vh;
    margin-top: 30px;
    overflow-y: scroll;
    @media all and (max-width: 576px) {
      height: 350px;
      overflow-y: scroll;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
      width: 50%;
    }
    @media all and (max-width: 767px) {
      width: 100%;
    }

    @media all and (min-width: 992px) {
      width: 30%;
    }
  }
}
