@use '../../styles/variables.scss' as *;

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  color: $primaryColor;
  .loadingSpinner {
    width: fit-content;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
