.register_form {
  padding: 20% 0 70%;
  width: 77%;
  margin: 0 auto;
}

.register_form .label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  color: #2b3f5d;
}

.register_form .form_control_custom {
  width: 100%;
}

.register_form .btn_primary_custom {
  background-color: #2b3f5d;
}
