@use '../../../styles/variables.scss' as *;
.emailInput {
  .label {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #2b3f5d;
  }

  .form_control_custom {
    width: 100%;
  }
}
