@use '../../styles//variables.scss' as *;

.login_row {
  flex-direction: column;
  align-items: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  .login_col {
    flex-direction: column;
    align-items: center;
    padding: 0 50px 0 50px;
    .login_form {
      padding: 20% 0 10% 0;
      margin: 0 auto;
      .label {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        color: #2b3f5d;
      }
      .form_control_custom {
        width: 100%;
      }
      .btn_primary_custom {
        background-color: #2b3f5d;
      }
    }
    .google_signIn {
      width: 150px;
    }
  }
}

 