* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Setting the color fo input placeholder attribute */
.changePlaceholderTextColor::-webkit-input-placeholder {
  color: #fff;
}

.changePlaceholderTextColor:-ms-input-placeholder {
  color: #fff;
}

.changePlaceholderTextColor::-ms-input-placeholder {
  color: #fff;
}

.changePlaceholderTextColor::placeholder {
  color: #fff;
}

/* Bootstrap Classes Edited */

.text-danger {
  color: #b33939 !important;
}

.bg-primary {
  background-color: #2b3f5d !important;
}

/* Scrollbar Css  */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc107;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b3f5d;
}
