* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans';
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Setting the color fo input placeholder attribute */
.changePlaceholderTextColor::-webkit-input-placeholder {
  color: #fff;
}

.changePlaceholderTextColor:-ms-input-placeholder {
  color: #fff;
}

.changePlaceholderTextColor::-ms-input-placeholder {
  color: #fff;
}

.changePlaceholderTextColor::placeholder {
  color: #fff;
}

/* Bootstrap Classes Edited */

.text-danger {
  color: #b33939 !important;
}

.bg-primary {
  background-color: #2b3f5d !important;
}

/* Scrollbar Css  */

/* width */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #d2d2d2;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b3f5d;
  border-radius: 5px;
}
