name: Node.js CI

on:
  push:
    branches: ['main']
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: main # Required to access secrets
    strategy:
      matrix:
        node-version: [20.x] # Using LTS version

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Create .env file
        run: |
          echo "VITE_API_KEY=${{ secrets.VITE_API_KEY }}" >> .env
          echo "VITE_AUTH_DOMAIN_FIREBASE=${{ secrets.VITE_AUTH_DOMAIN_FIREBASE }}" >> .env
          echo "VITE_PROJECT_ID_FIREBASE=${{ secrets.VITE_PROJECT_ID_FIREBASE }}" >> .env
          echo "VITE_STORAGE_BUCKET_FIREBASE=${{ secrets.VITE_STORAGE_BUCKET_FIREBASE }}" >> .env
          echo "VITE_MESSAGING_SENDER_ID_FIREBASE=${{ secrets.VITE_MESSAGING_SENDER_ID_FIREBASE }}" >> .env
          echo "VITE_APP_ID_FIREBASE=${{ secrets.VITE_APP_ID_FIREBASE }}" >> .env
          echo "VITE_MEASUREMENT_ID_FIREBASE=${{ secrets.VITE_MEASUREMENT_ID_FIREBASE }}" >> .env

      - name: Debug .env file
        run: cat .env

      - name: Debug Environment Variables (Avoid failure)
        run: env | grep VITE_ || true

      - name: Install dependencies
        run: |
          npm cache clean --force
          npm ci

      - name: Build and Test
        run: |
          npm run build --if-present
          npm test

      - name: Check dist folder exists
        run: |
          if [ ! -d dist ]; then
            echo "dist folder does not exist! Build failed or was not run."
            exit 1
          fi

      - name: Deploy with GitHub Pages
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions-bot"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
          npm run deploy -- -u "github-actions-bot <support+actions@github.com>" -f
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
