# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: package-lock.json

    - name: Create .env file
      run: |
          echo "VITE_API_KEY=${{ secrets.API_KEY }}" >> .env
          echo "VITE_AUTH_DOMAIN_FIREBASE=${{ secrets.AUTH_DOMAIN_FIREBASE }}" >> .env
          echo "VITE_PROJECT_ID_FIREBASE=${{ secrets.PROJECT_ID_FIREBASE }}" >> .env
          echo "VITE_STORAGE_BUCKET_FIREBASE=${{ secrets.STORAGE_BUCKET_FIREBASE }}" >> .env
          echo "VITE_MESSAGING_SENDER_ID_FIREBASE=${{ secrets.MESSAGING_SENDER_ID_FIREBASE }}" >> .env
          echo "VITE_APP_ID_FIREBASE=${{ secrets.APP_ID_FIREBASE}}" >> .env
          echo "VITE_MEASUREMENT_ID_FIREBASE=${{ secrets.MEASUREMENT_ID_FIREBASE }}" >> .env
      shell: bash
      env:
        API_KEY: ${{ secrets.API_KEY }}
        AUTH_DOMAIN_FIREBASE: ${{ secrets.AUTH_DOMAIN_FIREBASE }}
        PROJECT_ID_FIREBASE: ${{ secrets.PROJECT_ID_FIREBASE }}
        STORAGE_BUCKET_FIREBASE: ${{ secrets.STORAGE_BUCKET_FIREBASE }}
        MESSAGING_SENDER_ID_FIREBASE: ${{ secrets.MESSAGING_SENDER_ID_FIREBASE }}
        APP_ID_FIREBASE: ${{ secrets.APP_ID_FIREBASE }}
        MEASUREMENT_ID_FIREBASE: ${{ secrets.MEASUREMENT_ID_FIREBASE }}
          
    - name: Debug ENV
      run: cat .env

    - name: Debug GitHub Secrets
      run: |
          echo "API_KEY=${{ secrets.API_KEY }}" | sed 's/./& /g'
          echo "PROJECT_ID_FIREBASE=${{ secrets.PROJECT_ID_FIREBASE }}" | sed 's/./& /g'


    - run: npm ci
    - run: npm run build --if-present
    - run: npm test

    - name: Deploy with gh-pages
      if: matrix.node-version == '20.x'  # Only deploy from Node 20.x to prevent conflicts
      run: |
        git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
        npm run deploy -- -u "github-actions-bot <support+actions@github.com>" -f
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
